<div [ngClass]="{ 'dark text-white-dark': store.semidark }">
    <nav
        class="sidebar fixed bottom-0 top-0 z-50 h-full min-h-screen w-[260px] shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-all duration-300">
        <div class="h-full bg-white dark:bg-[#0e1726]">
            <div class="flex items-center justify-between px-4 py-3">
                <a routerLink="/" class="main-logo flex shrink-0 items-center">
                    <img class="ml-[5px] w-8 flex-none" src="/assets/icons/logo.svg" alt="" />
                    <span
                        class="align-middle text-2xl font-semibold dark:text-white-light lg:inline ltr:ml-1.5 rtl:mr-1.5">VRISTO</span>
                </a>
                <a href="javascript:;"
                    class="collapse-icon flex h-8 w-8 items-center rounded-full transition duration-300 hover:bg-gray-500/10 hover:text-primary dark:text-white-light dark:hover:bg-dark-light/10 rtl:rotate-180"
                    (click)="storeData.dispatch({ type: 'toggleSidebar'})">
                    <icon-carets-down class="m-auto rotate-90" />
                </a>
            </div>
            <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">
                <ul class="relative space-y-0.5 p-4 py-0 font-semibold">
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('authentication') }"
                            (click)="toggleAccordion('authentication')">
                            <div class="flex items-center">
                                <icon-menu-authentication class="shrink-0 group-hover:!text-primary" />

                                <span
                                    class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3">{{
                                    'authentication' | translate }}</span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('authentication') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('authentication')" class="accordion-content">
                            <ul class="sub-menu text-gray-500">
                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <a routerLink="/auth/signin" target="_blank">{{ 'login_boxed' | translate }}</a>
                                </li>
                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <a routerLink="/auth/signup" target="_blank">{{ 'register_boxed' | translate }}</a>
                                </li>
                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <a routerLink="/auth/lockscreen" target="_blank">{{ 'unlock_boxed' | translate
                                        }}</a>
                                </li>
                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <a routerLink="/auth/forgot-password" target="_blank">{{ 'recover_id_boxed' |
                                        translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </ng-scrollbar>
        </div>
    </nav>
</div>