@import 'tailwind.css';
@import '@ng-select/ng-select/themes/default.theme.css';

.color-success {
    background: #4caf50 !important;
    color: white;
}

.color-error {
    background: #f44336 !important;
    color: white;
}

.color-warning {
    background: #ff9800 !important;
    color: white;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
